/*Global Page Styles*/

h2 h3 {
	text-align: center;
}

body {
	font-family: 'Athiti', sans-serif;
	line-height: 1.6;
	background-color: #eef6f6;
}

.container {
	width: 90%;
	margin: 0 auto;
}

div {
	clear: both;
	padding: 10px;
	height: 20%;
}

br {
	margin: 10%;
}

p {
	font-family: 'Athiti', sans-serif;
	text-align: justify;
	padding: 50px 30px 50px 80px;
}

ul {
	list-style-type: circle;
}

/*Header Styles*/

.main-header {
	background: #3acec2;
	padding: 1em 0;
}

/*Image Styles*/

img {
	max-height: 250px;
	width: 20%;
	object-fit: cover;
	border-radius: 30%;
	float: left;
	border:4px solid #AD4D00; /*red-orange color*/
	margin: 20px;
}

/*Form Styles*/

.name {
	margin: 0;
	text-align: center;
}

.text-area {
	clear: left;
	padding: 20px;
	height: 30%;
}
form{
	display: inline-block;
	text-align: center;
}
/*Footer Style*/

.main-footer {
	clear: both;
	padding: 10px;
	background: #d9e4ea;
	text-align: center;
}


